.back_to_top {
  position: fixed;
  bottom: 100px;
  right: 150px;
  z-index: 9999;
  text-align: center;

  width: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 30px;

  line-height: 35px;
  background: initial;
  font-size: 400%;
  color: #444;
  opacity: 0.7;
  cursor: pointer;

  display: none;
}

.back_to_top:hover {
  opacity: 1;
}

.back_to_top-show {
  display: block;
}
.up {
  font-size: 20px;
  margin: 0 -18px 0 0;
}
// .effect.effect-5 {

// }
