.card-list-item__photo {
  position: relative;
  z-index: 3;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 161px;
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 5px 2px #fff, 0px 0px 11px 4px #dc56c5;
  }

  @include for-size(tablet) {
    height: 227px;
  }

  object-fit: cover;
}

.card-list-item__title {
  color: $primary-accent;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 5px;
  margin-top: 5px;
  @include for-size(tablet) {
    font-size: 16px;
  }
}

.card-list-item__title.dark-theme {
  color: $primary-accent;
}
.card-list-item__title.light-theme {
  color: $btn;
}

.card-list-item__date {
  color: inherit;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 5px;
  @include for-size(tablet) {
    font-size: 16px;
  }
}
.card-list-item__place {
  color: inherit;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
  margin: 0;

  @include for-size(tablet) {
    font-size: 14px;
  }
}

.card-list-item {
  position: relative;
  cursor: pointer;
}
.card-list-item::after {
  position: absolute;
  pointer-events: none;
  z-index: 4;
  top: -9px;
  right: -10px;
  content: '';
  display: block;
  width: 125px;
  height: 160px;

  &:hover .card-list-item__photo {
    box-shadow: 0px 0px 5px 2px #fff, 0px 0px 11px 4px #dc56c5;
  }
  @include for-size(tablet) {
    width: 175px;
    height: 220px;
    top: -13px;
    right: -14px;
  }
  border: solid 1px rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.material-icons-location {
  font-size: 10px;
  margin-right: 3px;
  @include for-size(tablet) {
    font-size: 12px;
  }
}

.card-list-item__info {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
