{{#each this}}
<div class="photo-card">
  <img src="{{largeImageURL}}" alt="{{webformatURL}}" />

  <div class="info">
    <h3 class="info-item"></h3>
    <p class="date-item"></p>
    <p class="place-item"></p>

  </div>
</div>
{{/each}}