<li class="card-list-developers-item">
<div class="dev-card container">
<h2 class="teame-title">Nice to meet you😉</h2>
<ul class="team-list list">
    {{#each this}}
    <li class="team-list-item">
      <div class="team-list-item-img"></div>
      <h3 class="team-list-item-name">{{nameDev}}</h3>
      <ul class="sotial-list list">
        <li class="sotial-list-item">
          <a
            class="sotial-list-item-link git link"
            href="{{github}}"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to GitHub"
          >
          </a>
        </li>
        <li class="sotial-list-item">
          <a
            class="sotial-list-item-link linked link"
            href="{{linkedin}}"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to LinkedIn"
          >
          </a>
        </li>
      </ul>
    </li>
    {{/each}}
</ul>
</div>
</li>