html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.dark-theme {
  background-color: #0e0e0e;
  background-image: url(../images/mobile/noise_body_mobile.jpg);
  color: white;
}

@media (min-width: 768px) {
  body.dark-theme {
    background-image: url(../images/tablet/bg_body_tablet@1x.jpg);
  }
}

@media (min-width: 1280px) {
  body.dark-theme {
    background-image: url(../images/desktop/bg_body_desktop@1x.jpg);
  }
}

body.light-theme {
  background-color: #fff2fd;
  background-image: url(../images/light-theme/mobile/noise_body_mobile_light.jpg);
  color: #0e0e0e;
}

@media (min-width: 768px) {
  body.light-theme {
    background-image: url(../images/light-theme/tablet/bg_body_tablet_light@1x.jpg);
  }
}

@media (min-width: 1280px) {
  body.light-theme {
    background-image: url(../images/light-theme/desktop/bg_body_desktop_light@1x.jpg);
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

@media (min-width: 320px) {
  .container {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 594px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 930px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.lds-roller {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}

.lds-roller.disable {
  display: none;
  pointer-events: none;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dc56c5;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.footer-heart {
  color: red;
}

.footer {
  width: 252px;
  height: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  color: #939393;
}

@media (min-width: 768px) {
  .footer {
    width: 521px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
  }
}

@media (min-width: 1280px) {
  .footer {
    margin-bottom: 19px;
  }
}

.logo {
  position: absolute;
  left: 0;
}

.logo-container {
  position: absolute;
}

.header {
  height: 364px;
  background: #c4c4c4;
  text-align: center;
}

@media (min-width: 1280px) {
  .header {
    height: 446px;
  }
}

.header-overlay.dark-theme {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/mobile/hero_mobile@2x.jpg);
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/mobile/hero_mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .header-overlay.dark-theme {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/tablet/hero_tablet@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/tablet/hero_tablet@2x.jpg);
  }
}

@media (min-width: 1280px) {
  .header-overlay.dark-theme {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/desktop/hero_desktop@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/desktop/hero_desktop@2x.jpg);
  }
}

.header-overlay.light-theme {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/light-theme/mobile/hero_mobile_light@2x.jpg);
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/light-theme/mobile/hero_mobile_light@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .header-overlay.light-theme {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/light-theme/tablet/hero_tablet_light@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/light-theme/tablet/hero_tablet_light@2x.jpg);
  }
}

@media (min-width: 1280px) {
  .header-overlay.light-theme {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/light-theme/desktop/hero_desktop_light@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/light-theme/desktop/hero_desktop_light@2x.jpg);
  }
}

.header-title-container {
  width: 212px;
  padding-top: 78px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .header-title-container {
    padding-top: 40px;
    width: 353px;
  }
}

@media (min-width: 1280px) {
  .header-title-container {
    width: 589px;
  }
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 0;
  color: #dc56c5;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: 1280px) {
  .header-title {
    font-size: 50px;
    line-height: 61px;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -40px;
}

@media (min-width: 768px) {
  .card-list {
    margin-left: -28px;
    margin-top: -50px;
  }
}

@media (min-width: 1280px) {
  .card-list {
    margin-left: -72px;
    margin-top: -66px;
  }
}

.card-list-item {
  margin-left: 15px;
  margin-top: 40px;
  max-width: calc((100% - 30px) / 2);
}

@media (min-width: 768px) {
  .card-list-item {
    width: calc((100% - 84px) / 3);
    margin-left: 28px;
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .card-list-item {
    width: calc((100% - 288px) / 4);
    margin-left: 72px;
    margin-top: 66px;
  }
}

.form-search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 37px;
  }
}

@media (min-width: 1280px) {
  .form-search {
    margin-top: 52px;
  }
}

.form-search-event,
.form-select {
  width: 270px;
  height: 40px;
  padding: 10px 45px 10px 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 0px;
  border-radius: 20px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-search-event:focus,
.form-select:focus {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  outline: none;
  border: 1px solid #dc56c5;
}

.form-search-event:-webkit-autofill,
.form-search-event:-webkit-autofill:hover,
.form-search-event:-webkit-autofill:focus {
  -webkit-text-fill-color: #939393;
  background-color: rgba(255, 255, 255, 0.2);
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #6980fe transparent transparent transparent;
}

.form-select.is-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-select option {
  background: #616161;
}

.form-search-event::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}

.form-search-event:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}

.form-search-event::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}

.form-search-event::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
}

.form-search-event {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .form-search-event {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.search-event_position-svg {
  position: relative;
}

.form-search_icon-search {
  width: 12px;
  height: 12px;
  fill: #939393;
  position: absolute;
  top: 4px;
  right: -240px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-search-event:focus ~ .form-search_icon-search {
  fill: #dc56c5;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (min-width: 768px) {
  .form-search_icon-search {
    top: 14px;
    right: 60px;
  }
}

.search-country_position-svg {
  position: relative;
}

.form-search_icon-arrow {
  width: 15px;
  height: 10px;
  fill: #939393;
  position: absolute;
  top: 5px;
  right: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .form-search_icon-arrow {
    top: 15px;
  }
}

.form-select:focus ~ .form-search_icon-arrow {
  opacity: 0;
}

.form-search_icon-eject {
  width: 18px;
  height: 13px;
  fill: #dc56c5;
  position: absolute;
  top: 3px;
  right: 30px;
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .form-search_icon-eject {
    top: 13px;
  }
}

.form-select:focus ~ .form-search_icon-eject {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-list-item__photo {
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 161px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .card-list-item__photo {
    height: 227px;
  }
}

.card-list-item__title {
  color: #dc56c5;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .card-list-item__title {
    font-size: 16px;
  }
}

.card-list-item__date {
  color: inherit;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .card-list-item__date {
    font-size: 16px;
  }
}

.card-list-item__place {
  color: inherit;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  line-height: 1.22;
}

@media (min-width: 768px) {
  .card-list-item__place {
    font-size: 14px;
  }
}

.card-list-item {
  position: relative;
}

.card-list-item::after {
  position: absolute;
  top: -9px;
  right: -10px;
  content: '';
  display: block;
  width: 108px;
  height: 101px;
  border: solid 1px rgba(220, 86, 197, 0.3);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (min-width: 768px) {
  .card-list-item::after {
    width: 153px;
    height: 143px;
    top: -13px;
    right: -14px;
  }
}

.material-icons-location {
  font-size: 10px;
  margin-right: 3px;
}

@media (min-width: 768px) {
  .material-icons-location {
    font-size: 12px;
  }
}

.overlay-modal {
  margin-bottom: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-title {
  list-style: none;
  color: #dc56c5;
  display: -ms-grid;
  display: grid;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.22em;
  margin-bottom: 20px;
}

.backdrop {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  margin-left: auto;
  margin-right: auto;
  padding: 62px 30px;
  margin-top: 201px;
  width: 930px;
  min-height: 1023px;
  background-color: #fff2fd;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 300px 0px;
  text-align: center;
}

.modal-status-ticket {
  list-style: none;
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 400;
  -webkit-box-align: 1.22em;
      -ms-flex-align: 1.22em;
          align-items: 1.22em;
}

.modal-skan-svg {
  width: 32px;
  height: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.modal-status-ticket::before {
  content: '';
  border: black;
  background-repeat: no-repeat;
  background-image: url("../images/ticket.svg");
  width: 29px;
  height: 19px;
  fill: black;
}

.modal-svg {
  width: 29px;
  height: 19px;
  fill: black;
  border: 1px solid black;
}

.modal-photo {
  border-radius: 100px;
  height: 132px;
  width: 132px;
  -o-object-fit: cover;
     object-fit: cover;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 641px;
}

.modal-content-list {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.modal-content-list li:not(:last-child) {
  margin-bottom: 31px;
}

.modal-img-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.modal-content-img-wrapper {
  height: 641px;
  width: 360px;
  margin-right: 60px;
}

.modal-photo-main {
  position: relative;
  height: 641px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 60px;
}

.modal-text {
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 400;
}

.modal-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.modal-button {
  min-height: 40px;
  min-width: 145px;
  background-color: #4c00fe;
  border-radius: 5px;
}

.modal-button a {
  color: white;
  text-decoration: none;
}

.modal-button-more {
  min-width: 255px;
  min-height: 40px;
  border: 1px solid #4c00fe;
  border-radius: 5px;
  background-color: transparent;
  color: #4c00fe;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-align: 1.22em;
      -ms-flex-align: 1.22em;
          align-items: 1.22em;
}

.back_to_top {
  position: fixed;
  bottom: 120px;
  right: 180px;
  z-index: 9999;
  width: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 30px;
  text-align: center;
  line-height: 31px;
  background: initial;
  font-size: 400%;
  color: #444;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  opacity: 1;
}

.back_to_top-show {
  display: block;
}

.up {
  font-size: 20px;
  margin: 0 -18px 0 0;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 24px;
}

.theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff2fd;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #0e0e0e;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: rgba(255, 255, 255, 0.2);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  background-color: white;
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  -webkit-box-shadow: 0 0 0 3px #dc56c5;
          box-shadow: 0 0 0 3px #dc56c5;
}
/*# sourceMappingURL=main.css.map */