@import url(d:\GoIT\Project\team-project-js\src\components\modal\overlay.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  color: white;
  background-image: url(../images/mobile/noise_body_mobile.jpg);
}

@media (min-width: 768px) {
  body {
    background-image: url(../images/tablet/bg_body_tablet@2x.jpg);
  }
}

@media (min-width: 1280px) {
  body {
    background-image: url(../images/desktop/bg_body_desktop@2x.jpg);
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

@media (min-width: 320px) {
  .container {
    width: 270px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 594px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 930px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller.disable {
  display: none;
  pointer-events: none;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dc56c5;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  left: 0;
}

.logo-container {
  position: absolute;
}

.header {
  height: 364px;
  background: #c4c4c4;
  text-align: center;
}

@media (min-width: 1280px) {
  .header {
    height: 446px;
  }
}

.header-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/mobile/hero_mobile@2x.jpg);
  background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/mobile/hero_mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .header-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/tablet/hero_tablet@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/tablet/hero_tablet@2x.jpg);
  }
}

@media (min-width: 1280px) {
  .header-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8))), url(/images/desktop/hero_desktop@2x.jpg);
    background-image: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%), url(/images/desktop/hero_desktop@2x.jpg);
  }
}

.header-main {
  color: #ffffff;
}

.header-title-container {
  width: 212px;
  padding-top: 78px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .header-title-container {
    padding-top: 40px;
    width: 353px;
  }
}

@media (min-width: 1280px) {
  .header-title-container {
    width: 589px;
  }
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #dc56c5;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: 1280px) {
  .header-title {
    font-size: 50px;
    line-height: 61px;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -40px;
}

@media (min-width: 768px) {
  .card-list {
    margin-left: -28px;
    margin-top: -50px;
  }
}

@media (min-width: 1280px) {
  .card-list {
    margin-left: -72px;
    margin-top: -66px;
  }
}

.card-list-item {
  margin-left: 15px;
  margin-top: 40px;
  max-width: calc((100% - 30px) / 2);
}

@media (min-width: 768px) {
  .card-list-item {
    width: calc((100% - 84px) / 3);
    margin-left: 28px;
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .card-list-item {
    width: calc((100% - 288px) / 4);
    margin-left: 72px;
    margin-top: 66px;
  }
}

@media (min-width: 768px) {
  .form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */