.genre-section {
    display: none;
    position: absolute;
    opacity: 0;
    @include for-size(desktop) {
      display: none;
      opacity: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #0d0d0df2;
      -webkit-animation: scale-up-tl 0.4s ease-in-out both;
      animation: scale-up-tl 0.4s ease-in-out both;
  
      &.show {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        z-index: 20;
        -webkit-animation: scale-up-tl 0.4s ease-in-out both;
        animation: scale-up-tl 0.4s ease-in-out both;
      }
  
      &.light-theme {
        background: #dadadaeb;
      }
    }
  }

  .genre-list {
    list-style: none;
    padding-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    // margin-top: auto;
    // margin-left: 10%;
    // margin-right: 10%;
    // margin-bottom: auto;
    display: flex;

    .genre-header {
        width: 200px;
        height: 130px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;

    &:hover{
        -webkit-animation: wobble-hor-bottom 0.8s both;
	    animation: wobble-hor-bottom 0.8s both;
    }
    }
  
    & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      width: 250px;

      &:not(:last-child) {
          margin-right: 30px;
      }

      &::after {
          content: '';
          width: 0;
          height: 0;
      }
    }
  }

  @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }