// .timer {
//   display: flex;
//   align-items: center;
//   // justify-content: center;
// }

// .value-date {
//   display: inline-block;
//   width: 45px;
//   color: #000000;
//   font-size: 30px;
//   margin-bottom: 10px;
//   color: red;
//   font-family: 'digital numbers';
// }

// .label {
//   color: #000000;
//   margin-right: 5px;
//   color: red;
//   font-family: 'digital numbers';
// }

.timer {
  // position: absolute;
  // top: 50%;
  // left: 50%;

  display: flex;

  // transform: translate(-50%, -50%);
  border: 1px solid #4c00fe;
  border-radius: 10px;
  justify-content: center;
  @include for-size(mobile-only) {
    display: inline-flex;
  }
}

.field {
  display: flex;
  flex-direction: column;

  margin: 10px;

  text-align: center;
  @include for-size(mobile-only) {
    margin: 7px;
  }
}

.value {
  margin-bottom: 10px;

  color: #4c00fe;
  font-family: 'digital numbers';
  @include for-size(mobile) {
    font-size: 12px;
  }
  @include for-size(tablet) {
    font-size: 18px;
  }
  @include for-size(desktop) {
    font-size: 20px;
  }
}

.label {
  color: #4c00fe;
  font-family: 'digital numbers';
  @include for-size(mobile) {
    font-size: 5px;
  }
  @include for-size(tablet) {
    font-size: 7px;
  }
  @include for-size(desktop) {
    font-size: 10px;
  }
}

.box {
  display: flex;
  align-items: center;
}

.box-dots {
  margin-bottom: 22px;

  font-size: 20px;
  color: #4c00fe;
}
