.logo {
  position: absolute;
  left: 0;
  //   width: 213.97px;
  //   height: 180px;
  //   left: -107.49px;
  //   top: -90px;
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 105px;
  @include for-size(tablet) {
    width: 175px;
  }
  @include for-size(desktop) {
    width: 240px;
  }

  &.dark-logo.dark-theme {
    display: block;
    opacity: 1;
  }

  &.dark-logo.light-theme {
    display: none;
    opacity: 0;
  }

  &.light-logo.dark-theme {
    display: none;
    opacity: 0;
  }

  &.light-logo.light-theme {
    display: block;
    opacity: 1;
  }

}
