.overlay-modal {
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
}
.modal-titel {
  list-style: none;
  color: $primary-accent;
  display: grid;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.22em;
  margin-bottom: 20px;
}

.backdrop {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  margin-left: auto;
  margin-right: auto;
  padding: 62px 30px;

  margin-top: 201px;
  width: 930px;
  min-height: 1023px;
  background-color: $modal-bg;
  transform: scale(0.95);
  transition: transform $animation-duration $timing-function;
  border-radius: 300px 0px;
  text-align: center;
}
.modal-status-ticket {
  list-style: none;
  color: $modal-content;
  font-size: 18px;
  font-weight: 400;
  align-items: 1.22em;
}

.modal-skan-svg {
  width: 32px;
  height: 21px;
  justify-content: center;
  align-items: center;

  background-size: cover;
}

.modal-status-ticket::before {
  content: '';
  border: black;
  background-repeat: no-repeat;
  background-image: url('../images/ticket.svg');
  width: 29px;
  height: 19px;
  fill: black;
}

.modal-svg {
  width: 29px;
  height: 19px;
  fill: black;
  border: 1px solid black;
}
.modal-photo {
  margin-left: auto;
  margin-left: auto;
  margin-bottom: 41px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  display: inline-block;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color $animation-duration $timing-function;
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.modal-content {
  display: flex;
  min-height: 641px;
}
.modal-content-list {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.modal-content-list li:not(:last-child) {
  margin-bottom: 31px;
}
.modal-photo-main {
  width: auto;
  height: 100%;
  object-fit: cover;

  margin-right: 60px;
}
.modal-text {
  color: $modal-content;
  font-size: 18px;
  font-weight: 400;
}
.modal-ticket {
  display: flex;
  margin-bottom: 20px;
}
.modal-button {
  min-height: 40px;
  min-width: 145px;
  background-color: $btn;
  border-radius: 5px;
}
.modal-button a {
  color: $text-cl;
  text-decoration: none;
}

.modal-button-more {
  min-width: 255px;
  min-height: 40px;
  border: 1px solid $btn;
  border-radius: 5px;
  background-color: transparent;
  color: $btn;
  font-size: 16px;
  font-weight: 500;
  align-items: 1.22em;
}
