.overlay-modal {
  justify-content: center;
  align-items: center;
  @include for-size(mobile) {
  }
  @include for-size(desktop) {
    // margin-bottom: 45px;
  }
}
.modal-title {
  color: $primary-accent;
  display: grid;
  line-height: 1.22em;
  @include for-size(mobile) {
    font-size: 20px;
    font-weight: 600;
  }

  @include for-size(desktop) {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 20px;
  }
}
.modal-title li:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  background-color: $modal-bg;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  @include for-size(mobile) {
    width: 272px;
    min-height: auto;
    margin-top: 414px;
    border-radius: 150px 0px;
    padding: 75px 15px 104px;
  }

  @include for-size(tablet) {
    padding: 28px 17px 56px 50px;
    width: 595px;
    min-height: auto;
    margin-top: 161px;
  }
  @include for-size(desktop) {
    padding: 62px 30px;
    margin-top: 201px;
    width: 930px;
    transform: scale(0.95);
    transition: transform $animation-duration $timing-function;
    border-radius: 300px 0px;
  }
}
.modal-status-ticket {
  color: $modal-content;
  @include for-size(desktop) {
    font-size: 18px;
    font-weight: 400;
    align-items: 1.22em;
  }
}

.modal-skan-svg {
  @include for-size(desktop) {
    width: 32px;
    height: 21px;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
}

.modal-status-ticket::before {
  content: '';
  border: black;
  background-repeat: no-repeat;
  background-image: url('../images/ticket.svg');
  width: 29px;
  height: 19px;
  fill: black;
}

.modal-svg {
  width: 29px;
  height: 19px;
  fill: black;
  border: 1px solid black;
  color: black;
}
.modal-photo {
  border-radius: 100px;
  object-fit: cover;
  @include for-size(mobile) {
    height: 102px;
    width: 102px;
  }
  @include for-size(desktop) {
    height: 132px;
    width: 132px;
  }
}

.close-button {
  color: $btn;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: background-color $animation-duration $timing-function;
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  @include for-size(mobile) {
    background-color: aqua;
  }
  @include for-size(desktop) {
  }
}
.modal-content {
  @include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    min-height: 641px;
  }
}
.modal-content-list {
  @include for-size(tablet) {
    text-align: left;
    padding: 0px;
    margin: 0px;
  }
  // @include for-size(desktop) {
  //   text-align: left;
  //   padding: 0px;
  //   margin: 0px;
  // }
}
.modal-content-list li:not(:last-child) {
  @include for-size(mobile) {
    margin-bottom: 20px;
  }
  @include for-size(desktop) {
    margin-bottom: 31px;
  }
}
.modal-img-wrapper {
  display: inline-block;
  @include for-size(mobile) {
    margin-bottom: 18px;
  }
  @include for-size(desktop) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    width: 132px;
    height: 132px;
    border-radius: 50%;
  }
}
.modal-content-img-wrapper {
  @include for-size(tablet) {
    width: 233px;
    height: 416px;
  }
  @include for-size(desktop) {
    height: 641px;
    width: 360px;
    margin-right: 60px;
  }
}
.modal-photo-main {
  @include for-size(mobile-only) {
    display: none;
  }
  @include for-size(tablet) {
    position: relative;
    height: 100%;
    object-fit: cover;
    margin-right: 30px;
  }
  @include for-size(desktop) {
    position: relative;
    height: 100%;
    object-fit: cover;
    margin-right: 60px;
  }
}
.modal-title .modal-text {
  color: $modal-content;
  font-weight: 400;
  font-style: normal;
  align-items: 1.22em;
  @include for-size(mobile) {
    font-size: 16px;
    margin-top: 5px;
  }
  @include for-size(desktop) {
    font-size: 18px;
  }
}
.modal-ticket {
  @include for-size(mobile) {
    margin-bottom: 10px;
  }

  @include for-size(desktop) {
    display: flex;
    margin-bottom: 20px;
  }
}
.modal-button {
  background-color: $btn;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500px;
  align-items: 1.22em;
  min-height: 40px;
  min-width: 145px;
  @include for-size(mobile) {
  }
  @include for-size(desktop) {
  }
}

.modal-button a {
  color: $text-cl;
  text-decoration: none;
}
// .modal-button:last-child {
//   @include for-size(mobile) {
//   }
// }
// .modal-button:last-child {
//   @include for-size(mobile) {
//     margin-bottom: 25px;
//   }
// }

.modal-button-more {
  color: $btn;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  align-items: 1.22em;
  border-radius: 5px;
  border: 1px solid $btn;
  @include for-size(mobile) {
    margin-top: 25px;
    min-width: 224px;
    min-height: 20px;
  }
  @include for-size(desktop) {
  }
}
