@import '../../shared_scss/utils/mixins';
@import '../../shared_scss/utils/variables';

.form-search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  // color: $primary-accent;
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    margin-top: 37px;
  }
  @include for-size(desktop) {
    margin-top: 52px;
  }
}

.form-search-event,
.form-select {
  width: 270px;
  height: 40px;
  padding: 10px 45px 10px 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $input-content;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: 0px;
  border-radius: 20px;

  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:focus {
    transform: scale(1.15);
    outline: none;
    border: 1px solid $primary-accent;
  }

  &.light-theme {
    background: rgba(255, 255, 255, 0.8);
  }
}

.form-search-event:-webkit-autofill,
.form-search-event:-webkit-autofill:hover,
.form-search-event:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-content;
  background-color: $input-bg;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.form-select::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #6980fe transparent transparent transparent;
}

.form-select.is-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-select option {
  background: rgb(97, 97, 97);
}

.form-search-event::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $input-content;
}

.form-search-event {
  margin-bottom: 25px;
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @include for-size(tablet) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.search-event_position-svg {
  position: relative;
}

.form-search_icon-search {
  font-size: 18px;
  color: $input-content;

  position: absolute;
  top: 4px;
  right: -240px;

  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  .form-search-event:focus ~ & {
    color: $primary-accent;
    transform: scale(1.15);
  }

  @include for-size(tablet) {
    top: 14px;
    right: 60px;
  }
}

.search-country_position-svg {
  position: relative;
}

.form-search_icon-arrow {
  font-size: 28px;
  color: $input-content;

  position: absolute;
  top: -2px;
  right: 23px;

  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  @include for-size(tablet) {
    top: 7px;
  }

  .form-select:focus ~ & {
    color: $primary-accent;
    transform: scale(1.15);
  }
}

// .form-search_icon-eject {
//   font-size: 18px;
//   color: $input-content;

//   position: absolute;
//   top: 3px;
//   right: 30px;
//   opacity: 0;

//   transition-duration: $animation-duration;
//   transition-timing-function: $timing-function;

//   @include for-size(tablet) {
//     top: 13px;
//   }

//   .form-select:focus ~ & {
//     opacity: 1;
//     transform: scale(1.15);
//   }
// }
