$logo-cl: rgba(255, 255, 255, 1);
$primary-accent: rgba(220, 86, 197, 1);
$input-bg: rgba(255, 255, 255, 0.2);
$input-content: rgba(147, 147, 147, 1);
$text-cl: rgba(255, 255, 255, 1);
$overlay-cl: rgba(32, 13, 29, 0.6);
$modal-bg: rgba(255, 242, 253, 1);
$modal-content: rgba(14, 14, 14, 1);
$btn: rgba(76, 0, 254, 1);

$main-font: 'Montserrat', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
