.header {
  height: 364px;
  // background: #c4c4c4;
  background: white;
  text-align: center;
  position: relative;
  @include for-size(desktop) {
    height: 446px;
  }
}

.header-overlay.dark-theme {
  background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0.19) 0%,
      rgba(14, 14, 14, 0.8) 100%
    ),
    url(/images/mobile/hero_mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //   background-color: rgba(11, 11, 11, 0.5);
  @include for-size(tablet) {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url(/images/tablet/hero_tablet@2x.jpg);
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      url(/images/desktop/hero_desktop@2x.jpg);
  }
}

.header-overlay.light-theme {
  background-image: url(/images/light-theme/mobile/hero_mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include for-size(tablet) {
    background-image: url(/images/light-theme/tablet/hero_tablet@2x.jpg);
  }
  @include for-size(desktop) {
    background-image: url(/images/light-theme/desktop/hero_desktop_light@2x.png);
  }
}

.header-main {
  position: relative;
}

.headerOptions {
  @include for-size(mobile-only) {
    right: 2.5%;
    top: 17px;
  }
  z-index: 19;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 30px;
}

.header-title-container {
  width: 212px;
  padding-top: 78px;
  margin-left: auto;
  margin-right: auto;
  transition: text-shadow 0.25s ease-in-out;

  @include for-size(tablet) {
    padding-top: 40px;
    width: 353px;
  }
  @include for-size(desktop) {
    width: 589px;
  }
}
.header-title-container.dark-theme {
  &:hover {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 35px #ff00de;
  }
}

.header-title-container.light-theme {
  &:hover {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px $btn,
      0 0 20px $btn, 0 0 30px $btn, 0 0 35px $btn;
  }
}

.header-title {
  font-family: $main-font;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 0;
  cursor: default;
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;

  @include for-size(tablet) {
    font-size: 30px;
    line-height: 37px;
  }

  @include for-size(desktop) {
    font-size: 50px;
    line-height: 61px;
  }
}

.header-title.dark-theme {
  color: $primary-accent;
}
.header-title.light-theme {
  color: $btn;
}
