.footer-heart {
  color: red;
}

.footer {
  width: 252px;
  height: 34px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;

  color: #939393;

  
.dev-link {
  text-decoration: none;
  color: #dc56c5 !important;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: rgb(255, 0, 0);
  }
}
}

@include for-size(tablet) {
  .footer {
    width: 521px;
    height: 20px;

    font-size: 16px;
    line-height: 20px;

    margin-bottom: 18px;
  }
}

@include for-size(desktop) {
  .footer {
    margin-bottom: 19px;
  }
}
