.back_to_top {
  position: sticky;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.6);

  text-align: center;
  line-height: 31px;
  background: initial;
  font-size: 400%;
  color: rgb(209, 202, 202);
  opacity: 0.4;
  cursor: pointer;
  border-radius: 2px;
  display: none;

  @media screen and (max-width: 350px) {
    left: 60%;
  }
  width: 0px;
  bottom: 0;
  left: 100%;
}

.back_to_top:hover {
  opacity: 1;
}

.back_to_top-show {
  display: block;
}
.up {
  font-size: 20px;
  margin: 0 -18px 0 0;
}
