.back_to_top {
  position: fixed;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0.6);

  text-align: center;
  line-height: 31px;
  background: initial;
  color: rgb(209, 202, 202);
  opacity: 0.9;

  cursor: pointer;

  display: none;

  width: 0px;
  bottom: 10%;
  left: 75%;
  @include for-size(tablet) {
    left: 80%;
  }
  @include for-size(desktop) {
    left: 86%;
  }
}

.back_to_top:hover {
  opacity: 1;
}

.back_to_top-show {
  display: block;
}
$ease: cubic-bezier(0.2, 1, 0.3, 1);

.wrapper-scroll {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .white-svg-scroll {
    fill: whitesmoke;
  }

  .light-theme {
    fill: black;
  }
  svg {
    transform: rotate(90deg);
    width: 50px;
    height: auto;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    \ polygon,
    path {
      transition: all 0.5s $ease;
    }
    &:hover polygon,
    &:hover path {
      transition: all 1s $ease;
      fill: $primary-accent;
    }

    &:hover .arrow {
      animation: arrow-anim 2.5s $ease infinite;
    }
    &:hover .arrow-fixed {
      animation: arrow-fixed-anim 2.5s $ease infinite;
    }
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
