.category-list {
  display: flex;
}
.category-item {
  margin-left: 10px;
}
.category-event {
  color: royalblue;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
}
.category-event:hover {
  color: rosybrown;
  text-decoration: underline;
}
