.team {
  background-color: #f5f4fa;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

.team-list-item-img {
  margin-bottom: 30px;
  width: 100%;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $title-light-theme-color;
  margin-top: 0;
}

.team-list-item-name {
  margin-bottom: 10px;
}
@include for-size(mobile) {
  .team {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-list-item {
    margin-bottom: 30px;
  }
}

@include for-size(tablet) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@include for-size(desktop) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }

  .team-list-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
